.Rules {
  text : blue;
  font-size: 15px;
  font-weight: 600;
  margin-top: -920px;
  margin-left: 800px;
  margin-right: px;
  margin: black;
  background-color: ;
  padding-bottom: 335px;
  background-image: url(https://images.wallpaperscraft.com/image/dice_game_red_white_glass_95_1280x720.jpg);
  position:absolute;
}
.h-one{
  text-align: center;
  text-decoration-color: blue;
  padding-bottom: 50px;
    background-image: url(https://images.wallpaperscraft.com/image/dice_game_red_white_glass_95_1280x720.jpg);
  padding-top: 20px;
}
.game {
  background-color: ;
  padding-top: 300px;
  text-align: top;

}
.img1 {
  width: 100px;
  height: 100px;
}
.img2 {
  width: 100px;
  height: 100px;
}
.body {
  background-color: ;
  padding-bottom: 451px;

}
.img {
  margin-right: 901px;
  background-color: ;
  margin-left: 30px;
  padding-bottom: 80px;
  position:absolute;


}
.bplay {
  width: 80px;
  height: 40px;
  margin-top: 31px;
}
.play {
  margin-right: 1100px;
  margin-left: 30px;
  position:absolute;
}
.bhold {
  margin-top: 30px;
  height: 40px;
  width: 60px;
  color: black;
}
.broll{
  margin-top: 30px;
  height: 40px;
  width: 60px;
}
.score {
  margin-left: 385px;
  margin-right: 485px;
  position:absolute;
}
.menu {
  background-color: black;
  background-image: url(https://static1.squarespace.com/static/58b63302e58c62d5e38bd06b/594aea455016e1d25ff98314/594cb9506b8f5bb71961f3f8/1498200404187/AWP_08.gif?format=1000w);
  padding-bottom: 300px;
  color: red;
  height:900px;
  width:1300px;
  font-size: 20px;
}
