.Rules {
  float: right;
  text : blue;
  font-size: 15px;
  font-weight: 600;
  margin-top: -90px;
  margin-left: 800px;
  margin-right: 20px;
  margin: black;
  background-color: ;
  padding-bottom: 335px;
}
.h-one{
  text-align: center;
}
.game {
  background-color: black;
  padding-top: 300px;
  text-align: top;

}
.img1 {
  width: 100px;
  height: 100px;
}
.img2 {
  width: 100px;
  height: 100px;
}
.body {
  background-color: ;
  padding-bottom: 450px;

}
.img {
  margin-right: 700px;
  background-color: ;
  margin-left: 30px;


}
